@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sensing a lack of definitive repositories for video game history, VidyaCat aims to break into the market as the equivalent to Discogs for video games.</p>
