@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1998 E Highway 17<br />
    Ravenholm, Czech Republic 370 01<br />
    <abbr title="Phone">P:</abbr>
    +420 527 618 394
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@vidyacat.com">info@vidyacat.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@vidyacat.com">marketing@vidyacat.com</a>
</address>